{% extends "base.html" %}
{% block title %}Cart View{% endblock %}
{% block content_heading %}Корзина{% endblock %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Итог</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }} KZT</td>
        <td>
            <a href="{% url 'add_to_cart' item.product.pk %}">+</a>
            {{ item.quantity }}
            <a href="{% url 'remove_from_cart' item.pk %}">-</a>
        </td>
        <td>{{ item.product.price }} KZT</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>Итог:</b></td>
        <td>{{ total }} KZT</td>
        <td></td>
    </tr>
    </tbody>
</table>
<form method="post" action="{% url 'create_order' %}">
    {% csrf_token %}
    {{ order_form.as_p }}
    <button type="submit">Оформить заказ</button>
</form>
{% endblock %}
