{% extends 'base.html' %}
{% block title %}Products View{% endblock %}
{% block navbar_item %}
<form class="d-flex">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Найти" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Найти</button>
</form>
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if products %}
    {% for product in products %}
    {% if product.remains >= 1 %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}" height="300">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'product_details' product.pk %}">{{ product.name }}</a>
                </h5>
                <p class="card-text">Цена: {{ product.price }} KZT</p>
                {% for category in categories %}
                {% if category.0 == product.category %}
                <p class="card-text">Категория: {{ category.1 }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h1>Продуктов нет!</h1>
    <a href="#">Добавить продукт</a>
    {% endif %}
    {% endblock %}
</div>
