{% extends 'base.html' %}
{% block title %}Product Details{% endblock %}
{% block content_heading %}Подробное описание товара{% endblock %}
{% block content %}
<div class="page_action pb-3">
    <a href="{% url 'product_edit' product.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'product_delete' product.pk %}" data-bs-toggle="modal"
       data-bs-target="#exampleModal-{{ product.pk }}" class="btn btn-danger">Удалить</a>
</div>
<div class="confirm-delete">
    <div class="modal fade" id="exampleModal-{{ product.pk }}" tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтвердите удаление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-row form-login">
                        <p>Вы уверены, что хотите удалить товар - {{ product.name }}?!
                        </p>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'product_delete' product.pk %}"
                       class="btn btn-danger">Удалить</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if product.image %}
            <img src="../{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            {% else %}
            <img src="../../static/media/no_image.jpg" class="card-img-top" alt="No Image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                {% if product.description %}
                <p class="card-text"><b>Описание:</b> {{ product.description }}</p>
                {% else %}
                <p class="card-text"><b>Описание:</b> Не добавлено!</p>
                {% endif %}
                {% for category in categories %}
                {% if category.0 == product.category %}
                <p class="card-text"><b>Категория:</b> {{ category.1 }}</p>
                {% endif %}
                {% endfor %}
                <p class="card-text"><b>Остаток:</b> {{ product.remains }}</p>
                <p class="card-text"><b>Цена:</b> {{ product.price }} KZT</p>
                <form action="{% url 'add_to_cart' product.pk %}" method="POST">
                    {% csrf_token %}
                    <label for="quantity">Количество:</label>
                    <input type="number" name="quantity" value="1" min="1">
                    <button type="submit">В корзину</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
